[submodule "NFTs/lib/openzeppelin-contracts"]
	path = NFTs/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "NFTs/lib/foundry-devops"]
	path = NFTs/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
